---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="https://beta.awalkaday.art"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="https://opensea.io/collection/awalkaday?search[sortAscending]=false&search[sortBy]=LISTING_DATE" class="icon fa-shopping-basket" aria-hidden="true" title="Purchase awalkaday.art NFTs collection" target="_blank">Shop</a></li>
                <li><a href="#footer" class="icon fa-info-circle" aria-hidden="true" title="Find out more about the digital art gallery">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2><a href="/" class="icon fa-image" aria-hidden="true"> {{ site.footer.name }}</a></h2>
                    <p>{{ site.footer.bio }}</p>
                        <a href="https://about.awalkaday.art/index.html" title="FAQ : About | WALK&equiv;DAY" class="special" target="_blank"><button>Learn More</button></a>
                    <br><br>
                    </section>

                <section class="copyright">
                    <h4>
                        <a href="https://opensea.io/collection/awalkaday?search[sortAscending]=false&search[sortBy]=LISTING_DATE" class="icon fa-shopping-basket" aria-hidden="true" title="Purchase awalkaday.art NFTs collection" target="_blank"> Shop</a>
                    </h4>
                    <p>The <strong>awalkaday.art NFT collection</strong> is curated by <a href="https://opensea.io/daqhris" title="Artworks creator's account on OpenSea" target="_blank">@daqhris</a> on OpenSea Marketplace.<br> 
                        Revenue from the sale of <a href="https://eips.ethereum.org/EIPS/eip-1155" target="_blank" title="EIP-1155: Non-Fungible Token Standard">ERC-1155</a> tokens flows directly to the <a href="https://daqhris.com/crypto-growth-fund/" target="_blank">daqhris.eth Crypto Growth Fund</a>.</p>
                </section>

                <section>
                    <h4><a href="https://www.instagram.com/walk.day" class="icon fa-handshake-o" aria-hidden="true" target="_blank"> Social</a></h4>
                    <ul class="icons">
                            <li>
                                <a href="mailto:contact@awalkaday.art" class="icon fa-envelope" aria-hidden="true" title="Contact us by E-Mail" target="_blank"></a>
                            </li>
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram" aria-hidden="true" title="Discover our Instagram feed" target="_blank">
                                    <span class="label"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter" aria-hidden="true" title="Subscribe to our feed on Twitter" target="_blank">
                                    <span class="label"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github" aria-hidden="true" title="Visit our tech lab on GitHub" target="_blank">
                                    <span class="label"></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>

                <section class="copyright">
                    <h4><a href="/privacy.html" title="Legal and Privacy Statement" class="icon fa-balance-scale" aria-hidden="true"> Legal</a></h4>
                    <p> Copyright: &copy; {{ site.author }}<br>
                        Coding & Design: <a href="https://daqhris.com" title="Home | Chris A. Iradukunda">{{ site.web_design }}</a><br>
                    Licenses: Content <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" title="Creative Commons 1.0 Universal License" target="_blank">Public Domain (CC0 1.0)</a> /  
                        Code <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12" title="European Union Public Licence" target="_blank">EUPL-1.2</a><br>
                    Open-Source: <a href="https://github.com/daqhris/awalkaday" title="Free and open-source web application code" target="_blank">Code Repository</a><br>
                    Usage Policy: <a href="https://beta.awalkaday.art/privacy" title="Terms of Use, Privacy Policy and Data Collection">Terms & Privacy</a><br>
                    Main Website: <a href="https://awalkaday.art" title="Homepage">https://awalkaday.art</a><br>
                    IPFS: <a href="https://awalkaday.on.fleek.co/" title="Site Mirror on IPFS Decentralized Content Storage Network">https://awalkaday.on.fleek.co/</a>
                    </p>
                </section>
            </div>
        </div>
    </footer>
</div>
