---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="https://opensea.io/collection/awalkaday" class="icon fa-shopping-basket" aria-hidden="true" title="Purchase awalkaday.art NFTs collection">Shop</a></li>
                <li><a href="#footer" class="icon fa-info-circle" aria-hidden="true" title="Find out more about the digital art gallery">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <!--<p>{{ site.footer.github }}</p>-->
                    </section>
                <section>
                    <button>
                        <a href="https://about.awalkaday.art" title="FAQ : About | WALK&equiv;DAY" class="special">Learn More</a>
                    </button>
                    <br><br>
                    </section>
                
                <!--<section>
                    <h2>Sponsor</h2>
                    <div class="ad">
                    </div>
                </section>-->
                            
                <section>
                    <h4>Contact</h4>
                    <ul class="icons">
                            <li>
                                <a href="mailto:contact@awalkaday.art" class="icon fa-envelope" aria-hidden="true" title="Contact us by E-Mail"></a>
                            </li>
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram" aria-hidden="true" title="Discover our Instagram feed">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" class="icon fa-github" aria-hidden="true" title="Visit our tech lab on GitHub">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
              
                <section class="copyright">
                <h4>Legal</h4>
                <p> Copyright: <a href="https://photo.daqhris.com/">&copy; {{ site.author }}</a><br>
                    Coding & Design: <a href="https://daqhris.com" title="Home | Chris A. Iradukunda">{{ site.web_design }}</a><br>
                    Licenses: Content <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International License">CC-BY-4.0</a> /  
                        Code <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12" title="European Union Public Licence">EUPL-1.2</a><br>
                    Free Download: <a href="https://github.com/daqhris/awalkaday" title="Free and open-source web application code">Source Code</a> &mdash; 
                        <a href="https://github.com/daqhris/awalkaday/tree/master/images/fulls" title="Full size JPG images">Original Images</a><br>
                    Website Usage Policy: <a href="https://daqhris.com/legal" title="Terms and Privacy Conditions">Terms & Privacy</a>
                    </p>
                </section>
            </div>
        </div>
    </footer>
</div>
