<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="description" content="Black-and-white visual artworks that inspire to step outdoors and enjoy a walk every day." />
<meta name="author" content="Chris-Armel (daqhris)">
<link rel="canonical" href="https://beta.awalkaday.art/" />
<meta content="yes" name="mobile-web-app-capable">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta content="awalkaday, visual arts, digital art gallery, collector store, black-and-white photographs, walk every day, daily walk, photography, outdoor, monochrome, art, design, discover europe, visit belgium" name="keywords">
<meta name="Content-Security-Policy" content="default-src https:; script-src https: 'unsafe-inline'; style-src https: 'unsafe-inline'">
<meta content="noindex,nofollow" name="robots">

<!-- Twitter account @awalkadayart meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@awalkadayart">
<meta name="twitter:title" content="awalkaday.art Photography Collection">
<meta name="twitter:description" content="awalkaday.art is an online gallery featuring photographs taken by Chris-Armel (daqhris). It is basically a collection of photos that aims to inspire everyone to go for a walk. ">
<meta name="twitter:image" content="https://awalkaday.art/assets/icons/awalkaday-logo-2x1.png">

<meta content="awalkaday.art Photography Collection" property="og:title">
<meta content="en_US" property="og:locale">
<meta content="website" property="og:type">
<meta content="https://beta.awalkaday.art" property="og:url">
<meta content="Discover an exquisite collection of monochrome photographs depicting the Belgian landscape, published on the Ethereum blockchain." property="og:description">
<meta content="https://beta.awalkaday.art/assets/icons/awalkaday_art-web_overview.png" property="og:image">
<meta name="theme-color" content="#FFFFFF"/>
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.ico" rel="shortcut icon" type="image/x-icon">
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.png" rel="shortcut icon">
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.png" rel="apple-touch-icon"> 
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="https://beta.awalkaday.art/assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
