<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="description" content="Black-and-white visual artworks that inspire to step outdoors and enjoy a walk every day." />
<meta name="author" content="Chris-Armel (daqhris)">
<link rel="canonical" href="https://beta.awalkaday.art/" />
<meta content="yes" name="mobile-web-app-capable">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta content="awalkaday, visual arts, digital art gallery, NFT collection, black-and-white artworks, walk every day, daily walk, photography, outdoor, monochrome, art, nftphotography, design, discover europe, visit belgium" name="keywords">
<meta name="Content-Security-Policy" content="default-src https:; script-src https: 'unsafe-inline'; style-src https: 'unsafe-inline'">
<meta content="noindex,nofollow" name="robots">
<meta content="awalkaday.art Photography Collection" property="og:title">
<meta content="en_US" property="og:locale">
<meta content="website" property="og:type">
<meta content="https://beta.awalkaday.art" property="og:url">
<meta content="Visit awalkaday.art to discover an exquisite collection of digital photographs, depicting the scenery of Belgium (Europe) and published on the Ethereum blockchain." property="og:description">
<meta content="https://beta.awalkaday.art/assets/icons/awalkaday_art-web_overview.png" property="og:image">
<meta name="theme-color" content="#FFFFFF"/>
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.ico" rel="shortcut icon" type="image/x-icon">
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.png" rel="shortcut icon">
<link href="https://beta.awalkaday.art/assets/icons/awalkaday-logo-1x1.png" rel="apple-touch-icon"> 
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="https://beta.awalkaday.art/assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
